<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'roe.general.abilities'}}"/>
        </h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "roe.ability.action"}}</th>
                <th>{{localize "roe.ability.activation"}}</th>
                <th>{{localize "roe.ability.cost"}}</th>
                <th>{{localize "roe.ability.duration"}}</th>
                <th>{{localize "roe.ability.range"}}</th>
                <th>{{localize "roe.ability.target"}}</th>
            </tr>
            <tr>
                <td><input name="system.action" type="text" value="{{data.system.action}}" data-dtype="String"/></td>
                <td><input name="system.activation" type="text" value="{{data.system.activation}}" data-dtype="String"/></td>
                <td><input name="system.cost" type="text" value="{{data.system.cost}}" data-dtype="String"/></td>
                <td><input name="system.duration" type="text" value="{{data.system.duration}}" data-dtype="String"/></td>
                <td><input name="system.range" type="text" value="{{data.system.range}}" data-dtype="String"/></td>
                <td><input name="system.target" type="text" value="{{data.system.target}}" data-dtype="String"/></td>
            </tr>
        </table>

        <p>{{localize "roe.ability.traits"}}</p>
        <input name="system.traits" type="text" value="{{data.system.traits}}" />
        
        <p class="mt-1">{{localize "roe.ability.description"}}</p>
        {{editor content=data.system.description target="system.description" button=false owner=owner editable=editable engine="prosemirror" collaborate=false}}
    </div>
</form>