<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'roe.general.actions'}}"/>
        </h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "roe.action.hit"}}</th>
                <th>{{localize "roe.action.damage"}}</th>
                <th>{{localize "roe.action.damageCritical"}}</th>
            </tr>
            <tr>
                <td><input name="system.hit" type="number" value="{{data.system.hit}}" data-dtype="Number"/></td>
                <td><input name="system.damage" type="number" value="{{data.system.damage}}" data-dtype="Number"/></td>
                <td><input name="system.damageCritical" type="number" value="{{data.system.damageCritical}}" data-dtype="Number"/></td>
            </tr>
        </table>

        <p>{{localize "roe.action.traits"}}</p>
        <input name="system.traits" type="text" value="{{data.system.traits}}" data-dtype="String"/>
    </div>
</form>