<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="Nome do Consumível"/>
        </h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "roe.consumable.slots"}}</th>
                <th>{{localize "roe.consumable.quantity"}}</th>
                <th>{{localize "roe.consumable.geo"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.slots" type="number" value="{{data.system.slots}}" />
                </td>
                <td>
                    <input name="system.quantity" type="number" value="{{data.system.quantity}}" />
                </td>
                <td>
                    <input name="system.geo" type="number" value="{{data.system.geo}}" />
                </td>
            </tr>
        </table>
        
        <p>{{localize "roe.consumable.description"}}</p>
        {{editor content=data.system.description target="system.description" button=true owner=owner editable=editable}}

        <p>{{localize "roe.consumable.traits"}}</p>
        <input name="system.traits" type="text" value="{{data.system.traits}}" />
    </div>
</form>