<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'roe.general.equipments'}}"/>
        </h1>
    </header>
    <div class="sheet-content">
        <div class="flex">
            <p>{{localize 'roe.equipment.equipmentType'}}</p>
            <select name="system.equipmentType">
                {{#select data.system.equipmentType}}
                    {{#each config.equipmentTypes as |equipment type|}}
                        <option value="{{type}}">{{localize equipment}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        {{#if (eq data.system.equipmentType "weapon" )}}
            <div class="flex">
                <p>{{localize 'roe.equipment.weaponType'}}</p>
                <select name="system.weaponType">
                    {{#select data.system.weaponType}}
                        {{#each config.weaponTypes as |weapon type|}}
                            <option value="{{type}}">{{localize weapon}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        {{/if}}

        <table>
            <tr>
                {{#if (eq data.system.equipmentType "armor" )}}
                    <th>{{localize "roe.equipment.damageResistance"}}</th>
                    <th>{{localize "roe.equipment.minimumBody"}}</th>
                {{/if}}

                {{#if (eq data.system.equipmentType "shield" )}}
                    <th>{{localize "roe.equipment.defenseBonus"}}</th>
                    <th>{{localize "roe.equipment.durability"}}</th>
                    <th>{{localize "roe.equipment.minimumBody"}}</th>
                {{/if}}

                {{#if (eq data.system.equipmentType "weapon" )}}
                    <th>{{localize "roe.equipment.damage"}}</th>
                    <th>{{localize "roe.equipment.minimumBody"}}</th>
                {{/if}}

                <th>{{localize "roe.equipment.quantity"}}</th>
                <th>{{localize "roe.equipment.slots"}}</th>
                <th>{{localize "roe.equipment.geo"}}</th>
            </tr>
            <tr>
                {{#if (eq data.system.equipmentType "armor" )}}
                    <td><input name="system.damageResistance" type="number" value="{{data.system.damageResistance}}" data-dtype="Number"/></td>
                    <td><input name="system.minimumBody" type="number" value="{{data.system.minimumBody}}" data-dtype="Number"/></td>
                {{/if}}

                {{#if (eq data.system.equipmentType "shield" )}}
                    <td><input name="system.defenseBonus" type="number" value="{{data.system.defenseBonus}}" data-dtype="Number"/></td>
                    <td><input name="system.durability" type="number" value="{{data.system.durability}}" data-dtype="Number"/></td>
                    <td><input name="system.minimumBody" type="number" value="{{data.system.minimumBody}}" data-dtype="Number"/></td>
                {{/if}}

                {{#if (eq data.system.equipmentType "weapon" )}}
                    <td><input name="system.damage" type="number" value="{{data.system.damage}}" data-dtype="Number"/></td>
                    <td><input name="system.minimumBody" type="number" value="{{data.system.minimumBody}}" data-dtype="Number"/></td>
                {{/if}}

                <td><input name="system.quantity" type="number" value="{{data.system.quantity}}" data-dtype="Number"/></td>
                <td><input name="system.slots" type="text" value="{{data.system.slots}}" data-dtype="String"/></td>
                <td><input name="system.geo" type="number" value="{{data.system.geo}}" data-dtype="Number"/></td>
            </tr>
        </table>
        
        <p>{{localize "roe.equipment.traits"}}</p>
        <input name="system.traits" type="text" value="{{data.system.traits}}" />

        <p class="mt-1">{{localize "roe.equipment.description"}}</p>
        {{editor content=data.system.description target="system.description" button=false owner=owner editable=editable engine="prosemirror" collaborate=false}}
    </div>
</form>