<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'roe.trait.label'}}"/>
        </h1>
    </header>
    <div class="sheet-content">
        <div class="flex">
            <label for="system.note">{{localize "roe.trait.note"}}</label>
            <input name="system.note" type="text" value="{{data.system.note}}"/>
        </div>
        <p>{{localize "roe.trait.description"}}</p>
        {{editor content=data.system.description target="system.description" button=false owner=owner editable=editable engine="prosemirror" collaborate=false}}
    </div>
</form>