<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="Nome da Arma"/>
        </h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "roe.weapon.type"}}</th>
                <th>{{localize "roe.weapon.damage"}}</th>
                <th>{{localize "roe.weapon.minimumBody"}}</th>
                <th>{{localize "roe.weapon.slots"}}</th>
                <th>{{localize "roe.weapon.quantity"}}</th>
                <th>{{localize "roe.weapon.geo"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="system.type">
                        {{#select data.system.type}}
                            {{#each config.weaponTypes as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.damage" type="number" value="{{data.system.damage}}" />
                </td>
                <td>
                    <input name="system.minimumBody" type="number" value="{{data.system.minimumBody}}" />
                </td>
                <td>
                    <input name="system.slots" type="number" value="{{data.system.slots}}" />
                </td>
                <td>
                    <input name="system.quantity" type="number" value="{{data.system.quantity}}" />
                </td>
                <td>
                    <input name="system.geo" type="number" value="{{data.system.geo}}" />
                </td>
            </tr>
        </table>
        
        <p>{{localize "roe.weapon.description"}}</p>
        {{editor content=data.system.description target="system.description" button=true owner=owner editable=editable}}

        <p>{{localize "roe.weapon.traits"}}</p>
        <input name="system.traits" type="text" value="{{data.system.traits}}" />
    </div>
</form>