<div class="sheet-content">
    <table>
        <tr>
            <th>{{localize "roe.ability.action"}}</th>
            <th>{{localize "roe.ability.activation"}}</th>
            <th>{{localize "roe.ability.cost"}}</th>
            <th>{{localize "roe.ability.duration"}}</th>
            <th>{{localize "roe.ability.range"}}</th>
            <th>{{localize "roe.ability.target"}}</th>
        </tr>
        <tr>
            <td><input name="system.action" type="text" value="{{system.action}}" data-dtype="String"/></td>
            <td><input name="system.activation" type="text" value="{{system.activation}}" data-dtype="String"/></td>
            <td><input name="system.cost" type="text" value="{{system.cost}}" data-dtype="String"/></td>
            <td><input name="system.duration" type="text" value="{{system.duration}}" data-dtype="String"/></td>
            <td><input name="system.range" type="text" value="{{system.range}}" data-dtype="String"/></td>
            <td><input name="system.target" type="text" value="{{system.target}}" data-dtype="String"/></td>
        </tr>
    </table>

    <p>{{localize "roe.ability.traits"}}</p>
    <input name="system.traits" type="text" value="{{data.system.traits}}" />

    <p class="mt-1">{{localize "roe.ability.description"}}</p>
    {{editor system.description target="system.description" button=true engine="tinymce" collaborate=false}}
</div>