<div class="sheet-content">
    <div class="flex">
        <p>{{localize 'roe.equipment.equipmentType'}}</p>
        <select name="system.equipmentType">
            {{#select system.equipmentType}}
                {{#each config.equipmentTypes as |equipment type|}}
                    <option value="{{type}}">{{localize equipment}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    {{#if (eq system.equipmentType "weapon" )}}
        <div class="flex">
            <p>{{localize 'roe.equipment.weaponType'}}</p>
            <select name="system.weaponType">
                {{#select system.weaponType}}
                    {{#each config.weaponTypes as |weapon type|}}
                        <option value="{{type}}">{{localize weapon}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    {{/if}}

    <table>
        <tr>
            {{#if (eq system.equipmentType "armor" )}}
                <th>{{localize "roe.equipment.damageResistance"}}</th>
                <th>{{localize "roe.equipment.durability"}}</th>
                <th>{{localize "roe.equipment.minimumBody"}}</th>
                <th>{{localize "roe.equipment.runes"}}</th>
            {{/if}}

            {{#if (eq system.equipmentType "shield" )}}
                <th>{{localize "roe.equipment.defenseBonus"}}</th>
                <th>{{localize "roe.equipment.durability"}}</th>
                <th>{{localize "roe.equipment.minimumBody"}}</th>
                <th>{{localize "roe.equipment.runes"}}</th>
            {{/if}}

            {{#if (eq system.equipmentType "weapon" )}}
                <th>{{localize "roe.equipment.damage"}}</th>
                <th>{{localize "roe.equipment.minimumBody"}}</th>
                <th>{{localize "roe.equipment.runes"}}</th>
            {{/if}}

            <th>{{localize "roe.equipment.quantity"}}</th>
            <th>{{localize "roe.equipment.slots"}}</th>
            <th>{{localize "roe.equipment.geo"}}</th>
        </tr>
        <tr>
            {{#if (eq system.equipmentType "armor" )}}
                <td><input name="system.damageResistance" type="number" value="{{system.damageResistance}}" data-dtype="Number"/></td>
                <td><input name="system.durability" type="number" value="{{system.durability}}" data-dtype="Number"/></td>
                <td><input name="system.minimumBody" type="number" value="{{system.minimumBody}}" data-dtype="Number"/></td>
                <td><input name="system.runes" type="number" value="{{system.runes}}" data-dtype="Number"/></td>
            {{/if}}

            {{#if (eq system.equipmentType "shield" )}}
                <td><input name="system.defenseBonus" type="number" value="{{system.defenseBonus}}" data-dtype="Number"/></td>
                <td><input name="system.durability" type="number" value="{{system.durability}}" data-dtype="Number"/></td>
                <td><input name="system.minimumBody" type="number" value="{{system.minimumBody}}" data-dtype="Number"/></td>
                <td><input name="system.runes" type="number" value="{{system.runes}}" data-dtype="Number"/></td>
            {{/if}}

            {{#if (eq system.equipmentType "weapon" )}}
                <td><input name="system.damage" type="number" value="{{system.damage}}" data-dtype="Number"/></td>
                <td><input name="system.minimumBody" type="number" value="{{system.minimumBody}}" data-dtype="Number"/></td>
                <td><input name="system.runes" type="number" value="{{system.runes}}" data-dtype="Number"/></td>
            {{/if}}

            <td><input name="system.quantity" type="number" value="{{system.quantity}}" data-dtype="Number"/></td>
            <td><input name="system.slots" type="text" value="{{system.slots}}" data-dtype="String"/></td>
            <td><input name="system.geo" type="number" value="{{system.geo}}" data-dtype="Number"/></td>
        </tr>
    </table>

    {{#if (eq system.equipmentType "armor" )}}
        <p>{{localize "roe.equipment.traits"}}</p>

        <select class="trait-selected" name="traits">
            {{#select traits}}
                <option value="none"></option>
                {{#each traits.armor as |trait|}}
                    <option value="{{trait.label}}|{{trait.description}}">{{trait.label}}</option>
                {{/each}}
            {{/select}}
        </select>    
    {{/if}}

    {{#if (eq system.equipmentType "consumable" )}}
        <p>{{localize "roe.equipment.traits"}}</p>

        <select class="trait-selected" name="traits">
            {{#select traits}}
                <option value="none"></option>
                {{#each traits.consumable as |trait|}}
                    <option value="{{trait.label}}|{{trait.description}}">{{trait.label}}</option>
                {{/each}}
            {{/select}}
        </select>      
    {{/if}}

    {{#if (eq system.equipmentType "shield" )}}
        <p>{{localize "roe.equipment.traits"}}</p>

        <select class="trait-selected" name="traits">
            {{#select traits}}
                <option value="none"></option>
                {{#each traits.shield as |trait|}}
                    <option value="{{trait.label}}|{{trait.description}}">{{trait.label}}</option>
                {{/each}}
            {{/select}}
        </select>      
    {{/if}}

    {{#if (eq system.equipmentType "weapon" )}}
        <p>{{localize "roe.equipment.traits"}}</p>
        
        <select class="trait-selected" name="traits">
            {{#select traits}}
                <option value="none"></option>
                {{#each traits.weapon as |trait|}}
                    <option value="{{trait.label}}|{{trait.description}}">{{trait.label}}</option>
                {{/each}}
            {{/select}}
        </select>  
    {{/if}}

    <div class="flex flex-wrap my-1">
        {{#each system.traits as |trait|}}
            <div class="bg-stone-400 border border-stone-700 flex mr-1 mb-1 p-1">
                <p data-tooltip="{{trait.description}}" data-tooltip-direction="UP">{{trait.label}}</p>
                <a class="ml-1 trait-delete" data-trait="{{trait.label}}">
                    <i class="fa-regular fa-circle-xmark"></i>
                </a>
            </div>
        {{/each}}
    </div>

    <p class="my-1">{{localize "roe.equipment.description"}}</p>
    {{editor system.description target="system.description" button=true engine="tinymce" collaborate=false}}
</div>