<div class="sheet-content">
    <table>
        <tr>
            <th>{{localize "roe.skill.training"}}</th>
            <th>{{localize "roe.skill.modifier"}}</th>
        </tr>
        <tr>
            <td><input name="system.training" type="number" value="{{system.training}}" data-dtype="Number"/></td>
            <td><input name="system.modifier" type="number" value="{{system.modifier}}" data-dtype="Number"/></td>
        </tr>
    </table>
    
    <p class="mt-1">{{localize "roe.skill.description"}}</p>
    {{editor system.description target="system.description" button=true engine="tinymce" collaborate=false}}
</div>
