<div class="sheet-content">
    {{!-- <table>
        <tr>
            <th>{{localize "roe.spell.action"}}</th>
            <th>{{localize "roe.spell.cost"}}</th>
            <th>{{localize "roe.spell.duration"}}</th>
            <th>{{localize "roe.spell.range"}}</th>
            <th>{{localize "roe.spell.target"}}</th>
        </tr>
        <tr>
            <td><input name="system.action" type="text" value="{{system.action}}" data-dtype="String"/></td>
            <td><input name="system.cost" type="text" value="{{system.cost}}" data-dtype="String"/></td>
            <td><input name="system.duration" type="text" value="{{system.duration}}" data-dtype="String"/></td>
            <td><input name="system.range" type="text" value="{{system.range}}" data-dtype="String"/></td>
            <td><input name="system.target" type="text" value="{{system.target}}" data-dtype="String"/></td>
        </tr>
    </table> --}}

    <p>{{localize "roe.spell.enchants"}}</p>
    <input name="system.enchants" type="text" value="{{system.enchants}}" />

    <p>{{localize "roe.spell.traits"}}</p>
    <input name="system.traits" type="text" value="{{system.traits}}" />
    
    <p class="mt-1">{{localize "roe.spell.description"}}</p>
    {{editor system.description target="system.description" button=true engine="tinymce" collaborate=false}}

    <div class="border-solid border-l-4 border-red-500">
        <p class="mt-1 mb-1 ml-2 font-bold">{{localize "roe.spellEffects.action"}}</p>
        <div class="spell-effects ml-2">
            {{editor system.spellEffects.action target="system.spellEffects.action" button=true engine="tinymce" collaborate=false}}
        </div>
    </div>

    <div class="mt-2 border-solid border-l-4 border-yellow-500">
        <p class="mt-1 mb-1 ml-2 font-bold">{{localize "roe.spellEffects.exploration"}}</p>
        <div class="spell-effects ml-2">
            {{editor system.spellEffects.exploration target="system.spellEffects.exploration" button=true engine="tinymce" collaborate=false}}
        </div>
    </div>

    <div class="mt-2 border-solid border-l-4 border-green-500">
        <p class="mt-1 mb-1 ml-2 font-bold">{{localize "roe.spellEffects.downtime"}}</p>
        <div class="spell-effects ml-2">
            {{editor system.spellEffects.downtime target="system.spellEffects.downtime" button=true engine="tinymce" collaborate=false}}
        </div>
    </div>
</div>