<div class="sheet-content">
    <p>{{localize "roe.spell.enchants"}}</p>

    <select class="enchant-selected" name="enchants">
        {{#select enchants}}
            <option value="none"></option>
            {{#each enchants as |enchant|}}
                <option value="{{enchant.label}}|{{enchant.description}}">{{enchant.label}}</option>
            {{/each}}
        {{/select}}
    </select>   

    <div class="flex flex-wrap my-1">
        {{#each system.enchants as |enchant|}}
            <div class="bg-stone-400 border border-stone-700 flex mr-1 mb-1 p-1">
                <p data-tooltip="{{enchant.description}}" data-tooltip-direction="UP">{{enchant.label}}</p>
                <a class="ml-1 enchant-delete" data-enchant="{{enchant.label}}">
                    <i class="fa-regular fa-circle-xmark"></i>
                </a>
            </div>
        {{/each}}
    </div>

    <p>{{localize "roe.spell.traits"}}</p>

    <select class="trait-selected" name="traits">
        {{#select traits}}
            <option value="none"></option>
            {{#each traits.spell as |trait|}}
                <option value="{{trait.label}}|{{trait.description}}">{{trait.label}}</option>
            {{/each}}
        {{/select}}
    </select>   

    <div class="flex flex-wrap my-1">
        {{#each system.traits as |trait|}}
            <div class="bg-stone-400 border border-stone-700 flex mr-1 mb-1 p-1">
                <p data-tooltip="{{trait.description}}" data-tooltip-direction="UP">{{trait.label}}</p>
                <a class="ml-1 trait-delete" data-trait="{{trait.label}}">
                    <i class="fa-regular fa-circle-xmark"></i>
                </a>
            </div>
        {{/each}}
    </div>
    
    <p class="mt-1">{{localize "roe.spell.description"}}</p>
    {{editor system.description target="system.description" button=true engine="tinymce" collaborate=false}}

    <div class="flex mb-2 w-40">
        <label class="mr-2" for="system.action">{{localize "roe.spell.action"}}</label>
        <input name="system.action" type="text" value="{{system.action}}" data-dtype="String"/>
    </div>

    <div class="border-solid border-l-4 border-red-500">
        <p class="mt-1 mb-1 ml-2 font-bold">{{localize "roe.spellEffects.action"}}</p>
        <div class="spell-effects ml-2">
            {{editor system.spellEffects.action target="system.spellEffects.action" button=true engine="tinymce" collaborate=false}}
        </div>
    </div>

    <div class="mt-2 border-solid border-l-4 border-yellow-500">
        <p class="mt-1 mb-1 ml-2 font-bold">{{localize "roe.spellEffects.exploration"}}</p>
        <div class="spell-effects ml-2">
            {{editor system.spellEffects.exploration target="system.spellEffects.exploration" button=true engine="tinymce" collaborate=false}}
        </div>
    </div>

    <div class="mt-2 border-solid border-l-4 border-green-500">
        <p class="mt-1 mb-1 ml-2 font-bold">{{localize "roe.spellEffects.downtime"}}</p>
        <div class="spell-effects ml-2">
            {{editor system.spellEffects.downtime target="system.spellEffects.downtime" button=true engine="tinymce" collaborate=false}}
        </div>
    </div>
</div>