<section>
    <div class="flex justify-between">
        <h3 class="mb-2">{{localize 'roe.general.abilities'}}</h3>
        <a class="item-create" data-type="ability" title="{{localize 'roe.general.add'}} {{localize 'roe.general.abilities'}}">
            <i class="fas fa-square-plus"></i>
        </a>
    </div>

    <p class="text-sm text-stone-500">{{localize "roe.ability.label"}}</p>

    {{#each abilities as |ability|}}
        <div class="item flex" data-id="{{ability._id}}">
            <input class="item-edit-inline" data-field="name" type="text" value="{{ability.name}}" data-dtype="String"/>

            <a class="item-roll" data-type="ability" data-name="{{ability.name}}">
                <i class="fas fa-dice"></i>
            </a>

            <a class="item-edit-popup" title="{{localize 'roe.general.edit'}}">
                <i class="fas fa-edit"></i>
            </a>

            <a class="item-delete" title="{{localize 'roe.general.delete'}}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
        <div class="flex mt-1 mb-2">
            {{#if ability.system.action}}
                <p class="bg-stone-400 mr-1 px-1">{{ability.system.action}}</p>
            {{/if}}

            {{#if ability.system.activation}}
                <p class="bg-stone-400 mr-1 px-1">{{ability.system.activation}}</p>
            {{/if}}

            {{#if ability.system.cost}}
                <p class="bg-stone-400 mr-1 px-1">{{ability.system.cost}}</p>
            {{/if}}

            {{#if ability.system.duration}}
                <p class="bg-stone-400 mr-1 px-1">{{ability.system.duration}}</p>
            {{/if}}

            {{#if ability.system.range}}
                <p class="bg-stone-400 mr-1 px-1">{{ability.system.range}}</p>
            {{/if}}

            {{#if ability.system.target}}
                <p class="bg-stone-400 mr-1 px-1">{{ability.system.target}}</p>
            {{/if}}         
        </div>
    {{/each}}
</section>