<section>
    <div class="flex justify-between">
        <h3 class="mb-2">{{localize 'roe.general.abilities'}}</h3>
        <a class="item-create" data-type="ability" title="{{localize 'roe.general.add'}} {{localize 'roe.general.abilities'}}">
            <i class="fas fa-square-plus"></i>
        </a>
    </div>

    {{#each abilities as |ability|}}
        <div class="item flex border-solid border-b border-black" data-id="{{ability._id}}">
            <i class="fa-solid fa-caret-right p-[5px]" style="color: #000000;"></i>
            
            <input class="item-edit-inline input-without-border !text-left !shadow-none" data-tooltip="{{ability.system.description}}" data-tooltip-direction="UP" data-field="name" type="text" value="{{ability.name}}" data-dtype="String"/>

            {{#if ability.system.evolutionOne}}
                <p class="mr-1" data-tooltip="{{ability.system.evolutionOne}}" data-tooltip-direction="UP">
                    <i class="fa-solid fa-circle"></i>
                </p> 
            {{else}}
                <p class="mr-1" title="{{localize "roe.ability.evolutionOne"}}">
                    <i class="fa-regular fa-circle"></i>
                </p> 
            {{/if}}

            {{#if ability.system.evolutionTwo}}
                <p class="mr-1" data-tooltip="{{ability.system.evolutionTwo}}" data-tooltip-direction="UP">
                    <i class="fa-solid fa-circle"></i>
                </p> 
            {{else}}
                <p class="mr-1" title="{{localize "roe.ability.evolutionTwo"}}">
                    <i class="fa-regular fa-circle"></i>
                </p> 
            {{/if}}

            {{#if ability.system.evolutionThree}}
                <p class="mr-1" data-tooltip="{{ability.system.evolutionThree}}" data-tooltip-direction="UP">
                    <i class="fa-solid fa-circle"></i>
                </p> 
            {{else}}
                <p class="mr-1" title="{{localize "roe.ability.evolutionThree"}}">
                    <i class="fa-regular fa-circle"></i>
                </p> 
            {{/if}}

            <a class="item-roll ml-2" data-type="ability" data-name="{{ability.name}}">
                <i class="fas fa-dice"></i>
            </a>
        </div>

        <div class="flex mt-1 mb-2">
            {{#if ability.system.traits}}
                {{#each ability.system.traits as |abilityTrait|}}
                    <p class="text-xs gray-status"
                       data-tooltip="{{abilityTrait.description}}"
                       data-tooltip-direction="UP">{{abilityTrait.label}}{{#unless @last}},&nbsp{{/unless}}</p>
                {{/each}}
            {{/if}}
        </div>
    {{/each}}
</section>