<section>
    {{#if (eq data.type "antagonist")}}
        <p class="text-xs text-slate-500 mb-2">Recebe +1 ponto de atributo para cada 5 níveis</p>
    {{/if}}

    <div class="grid grid-cols-3 gap-4">
        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <div class="flex">
                <p class="font-bold uppercase text-xs">{{localize 'roe.attributes.body'}}</p>
                <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.attributes.body'}}" data-attribute="{{data.system.body.value}}" data-attribute-modifier="{{data.system.body.modifier}}" title="{{localize 'roe.general.roll'}}">
                    <i class="fas fa-dice"></i>
                </a>
            </div>
            <div class="flex flex-row">
                <input name="system.body.value" class="status" type="number" value="{{data.system.body.value}}" data-dtype="Number"/>
                <input name="system.body.modifier" class="status-mod" type="number" value="{{data.system.body.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball"></div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <div class="flex">
                <p class="font-bold uppercase text-xs">{{localize 'roe.attributes.essence'}}</p>
                <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.attributes.essence'}}" data-attribute="{{data.system.essence.value}}" data-attribute-modifier="{{data.system.essence.modifier}}" title="{{localize 'roe.general.roll'}}">
                    <i class="fas fa-dice"></i>
                </a>
            </div>
            <div class="flex">
                <input name="system.essence.value" class="status" type="number" value="{{data.system.essence.value}}" data-dtype="Number"/>
                <input name="system.essence.modifier" class="status-mod" type="number" value="{{data.system.essence.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball"></div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <div class="flex">
                <p class="font-bold uppercase text-xs">{{localize 'roe.attributes.dexterity'}}</p>
                <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.attributes.dexterity'}}" data-attribute="{{data.system.dexterity.value}}" data-attribute-modifier="{{data.system.dexterity.modifier}}" title="{{localize 'roe.general.roll'}}">
                    <i class="fas fa-dice"></i>
                </a>
            </div>
            <div class="flex">
                <input name="system.dexterity.value" class="status" type="number" value="{{data.system.dexterity.value}}" data-dtype="Number"/>
                <input name="system.dexterity.modifier" class="status-mod" type="number" value="{{data.system.dexterity.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball"></div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <div class="flex">
                <p class="font-bold uppercase text-xs">{{localize 'roe.attributes.perception'}}</p>
                <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.attributes.perception'}}" data-attribute="{{data.system.perception.value}}" data-attribute-modifier="{{data.system.perception.modifier}}" title="{{localize 'roe.general.roll'}}">
                    <i class="fas fa-dice"></i>
                </a>
            </div>
            <div class="flex">
                <input name="system.perception.value" class="status" type="number" value="{{data.system.perception.value}}" data-dtype="Number"/>
                <input name="system.perception.modifier" class="status-mod" type="number" value="{{data.system.perception.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball"></div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <div class="flex">
                <p class="font-bold uppercase text-xs">{{localize 'roe.attributes.influence'}}</p>
                <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.attributes.influence'}}" data-attribute="{{data.system.influence.value}}" data-attribute-modifier="{{data.system.influence.modifier}}" title="{{localize 'roe.general.roll'}}">
                    <i class="fas fa-dice"></i>
                </a>
            </div>
            <div class="flex">
                <input name="system.influence.value" class="status" type="number" value="{{data.system.influence.value}}" data-dtype="Number"/>
                <input name="system.influence.modifier" class="status-mod" type="number" value="{{data.system.influence.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball"></div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <div class="flex">
                <p class="font-bold uppercase text-xs">{{localize 'roe.attributes.mind'}}</p>
                <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.attributes.mind'}}" data-attribute="{{data.system.mind.value}}" data-attribute-modifier="{{data.system.mind.modifier}}" title="{{localize 'roe.general.roll'}}">
                    <i class="fas fa-dice"></i>
                </a>
            </div>
            <div class="flex">
                <input name="system.mind.value" class="status" type="number" value="{{data.system.mind.value}}" data-dtype="Number"/>
                <input name="system.mind.modifier" class="status-mod" type="number" value="{{data.system.mind.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball"></div>
            </div>
        </div>
    </div>

    <h3 class="mb-2 mt-4"></h3>

    <div class="grid grid-cols-3 gap-4">

        <div class="flex flex-col border border-black rounded-lg p-2 items-center">
            <p class="font-bold">{{localize 'roe.equipment.damageResistance'}}</p>
            <input name="system.damageResistance" class="status big-status" type="number" value="{{data.system.damageResistance}}" data-dtype="Number"/>
            <div class="flex flex-row">
                <div class="border-t border-black w-2 mt-2 gray-status"></div>
                <label class="mx-1 text-xs gray-status" for="system.healthPoints.value">RD Atual</label>
                <div class="border-t border-black w-2 mt-2 gray-status"></div>
            </div>
            <input name="system.durability" class="status big-status gray-status" type="number" value="{{data.system.durability}}" data-dtype="Number"/>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-2 items-center">
            <p class="font-bold">{{localize 'roe.general.healthPoints'}}</p>

            <input name="system.healthPoints.max" class="status big-status" type="number" value="{{data.system.healthPoints.max}}" data-dtype="Number"/>
            <div class="flex flex-row">
                <div class="border-t border-black w-5 mt-2 gray-status"></div>
                <label class="mx-1 gray-status" for="system.healthPoints.value">Atual</label>
                <div class="border-t border-black w-5 mt-2 gray-status"></div>
            </div>
            <input name="system.healthPoints.value" class="status big-status gray-status" type="number" value="{{data.system.healthPoints.value}}" data-dtype="Number"/>
        </div>
        <div class="flex flex-col border border-black rounded-lg p-2 items-center">
            <p class="font-bold">{{localize 'roe.general.etherPoints'}}</p>

            <input name="system.etherPoints.max" class="status big-status" type="number" value="{{data.system.etherPoints.max}}" data-dtype="Number"/>
            <div class="flex flex-row">
                <div class="border-t border-black w-5 mt-2 gray-status"></div>
                <label class="mx-1 gray-status" for="system.healthPoints.value">Atual</label>
                <div class="border-t border-black w-5 mt-2 gray-status"></div>
            </div>
            <input name="system.etherPoints.value" class="status big-status gray-status" type="number" value="{{data.system.etherPoints.value}}" data-dtype="Number"/>
        </div>
    </div>

    <h3 class="my-2"></h3>

    <div class="grid grid-cols-3 gap-4">
        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <div class="flex">
                <p class="font-bold uppercase text-xs">{{localize 'roe.resistances.stamina'}}</p>
                <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.resistances.stamina'}}" data-attribute="{{data.system.stamina.value}}" data-attribute-modifier="{{data.system.stamina.modifier}}" title="{{localize 'roe.general.roll'}}">
                    <i class="fas fa-dice"></i>
                </a>
            </div>
            <div class="flex">
                <input name="system.stamina.value" class="status" type="number" value="{{data.system.stamina.value}}" data-dtype="Number"/>
                <input name="system.stamina.modifier" class="status-mod" type="number" value="{{data.system.stamina.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball"></div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <div class="flex">
                <p class="font-bold uppercase text-xs">{{localize 'roe.resistances.dodge'}}</p>
                <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.resistances.dodge'}}" data-attribute="{{data.system.dodge.value}}" data-attribute-modifier="{{data.system.dodge.modifier}}" title="{{localize 'roe.general.roll'}}">
                    <i class="fas fa-dice"></i>
                </a>
            </div>
            <div class="flex">
                <input name="system.dodge.value" class="status" type="number" value="{{data.system.dodge.value}}" data-dtype="Number"/>
                <input name="system.dodge.modifier" class="status-mod" type="number" value="{{data.system.dodge.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball"></div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <div class="flex">
                <p class="font-bold uppercase text-xs">{{localize 'roe.resistances.will'}}</p>
                <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.resistances.will'}}" data-attribute="{{data.system.will.value}}" data-attribute-modifier="{{data.system.will.modifier}}" title="{{localize 'roe.general.roll'}}">
                    <i class="fas fa-dice"></i>
                </a>
            </div>
            <div class="flex">
                <input name="system.will.value" class="status" type="number" value="{{data.system.will.value}}" data-dtype="Number"/>
                <input name="system.will.modifier" class="status-mod" type="number" value="{{data.system.will.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball"></div>
            </div>
        </div>
    </div>

    <h3 class="mb-2 mt-4">{{localize 'roe.general.narrativePoints'}}</h3>

    <div class="flex">
        <input name="system.narrativePoints" type="number" value="{{data.system.narrativePoints}}" data-dtype="Number"/>
    </div>

    <h3 class="mb-2 mt-4">{{localize 'roe.general.magicPower'}}</h3>

    <div class="flex">
        <input name="system.magicPower" type="number" value="{{data.system.magicPower}}" data-dtype="Number"/>
    </div>
</section>