<section>
    {{#if (eq data.type "antagonist")}}
        <p class="text-xs text-slate-500 mb-2">Recebe +1 ponto de atributo para cada 5 níveis</p>
    {{/if}}

    {{!-- attributes --}}

    <h3 class="mb-2">{{localize 'roe.general.attributes'}}</h3>

    <div class="grid grid-cols-3 gap-4">
        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <p class="font-bold uppercase text-xs">{{localize 'roe.attributes.body'}}</p>
            <div class="flex flex-row">
                <input name="system.body.value" class="status" type="number" value="{{data.system.body.value}}" data-dtype="Number"/>
                <input name="system.body.modifier" class="status-mod" type="number" value="{{data.system.body.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball items-center content-center">
                    <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.attributes.body'}}" data-attribute="{{data.system.body.value}}" data-attribute-modifier="{{data.system.body.modifier}}" title="{{localize 'roe.general.roll'}}">
                        <i class="fas fa-dice"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <p class="font-bold uppercase text-xs">{{localize 'roe.attributes.essence'}}</p>
            <div class="flex">
                <input name="system.essence.value" class="status" type="number" value="{{data.system.essence.value}}" data-dtype="Number"/>
                <input name="system.essence.modifier" class="status-mod" type="number" value="{{data.system.essence.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball">
                    <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.attributes.essence'}}" data-attribute="{{data.system.essence.value}}" data-attribute-modifier="{{data.system.essence.modifier}}" title="{{localize 'roe.general.roll'}}">
                        <i class="fas fa-dice"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <p class="font-bold uppercase text-xs">{{localize 'roe.attributes.dexterity'}}</p>
            <div class="flex">
                <input name="system.dexterity.value" class="status" type="number" value="{{data.system.dexterity.value}}" data-dtype="Number"/>
                <input name="system.dexterity.modifier" class="status-mod" type="number" value="{{data.system.dexterity.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball">
                    <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.attributes.dexterity'}}" data-attribute="{{data.system.dexterity.value}}" data-attribute-modifier="{{data.system.dexterity.modifier}}" title="{{localize 'roe.general.roll'}}">
                        <i class="fas fa-dice"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <p class="font-bold uppercase text-xs">{{localize 'roe.attributes.perception'}}</p>
            <div class="flex">
                <input name="system.perception.value" class="status" type="number" value="{{data.system.perception.value}}" data-dtype="Number"/>
                <input name="system.perception.modifier" class="status-mod" type="number" value="{{data.system.perception.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball">
                    <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.attributes.perception'}}" data-attribute="{{data.system.perception.value}}" data-attribute-modifier="{{data.system.perception.modifier}}" title="{{localize 'roe.general.roll'}}">
                        <i class="fas fa-dice"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <p class="font-bold uppercase text-xs">{{localize 'roe.attributes.influence'}}</p>
            <div class="flex">
                <input name="system.influence.value" class="status" type="number" value="{{data.system.influence.value}}" data-dtype="Number"/>
                <input name="system.influence.modifier" class="status-mod" type="number" value="{{data.system.influence.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball">
                    <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.attributes.influence'}}" data-attribute="{{data.system.influence.value}}" data-attribute-modifier="{{data.system.influence.modifier}}" title="{{localize 'roe.general.roll'}}">
                        <i class="fas fa-dice"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <p class="font-bold uppercase text-xs">{{localize 'roe.attributes.mind'}}</p>
            <div class="flex">
                <input name="system.mind.value" class="status" type="number" value="{{data.system.mind.value}}" data-dtype="Number"/>
                <input name="system.mind.modifier" class="status-mod" type="number" value="{{data.system.mind.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball">
                    <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.attributes.mind'}}" data-attribute="{{data.system.mind.value}}" data-attribute-modifier="{{data.system.mind.modifier}}" title="{{localize 'roe.general.roll'}}">
                        <i class="fas fa-dice"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {{!-- resistances --}}

    <h3 class="mb-2 mt-2">{{localize 'roe.general.resistances'}}</h3>

    <div class="grid grid-cols-3 gap-4">
        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <p class="font-bold uppercase text-xs">{{localize 'roe.resistances.stamina'}}</p>
            <div class="flex">
                <input name="system.stamina.value" class="status" type="number" value="{{data.system.stamina.value}}" data-dtype="Number"/>
                <input name="system.stamina.modifier" class="status-mod" type="number" value="{{data.system.stamina.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball">
                    <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.resistances.stamina'}}" data-attribute="{{data.system.stamina.value}}" data-attribute-modifier="{{data.system.stamina.modifier}}" title="{{localize 'roe.general.roll'}}">
                        <i class="fas fa-dice"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <p class="font-bold uppercase text-xs">{{localize 'roe.resistances.dodge'}}</p>
            <div class="flex">
                <input name="system.dodge.value" class="status" type="number" value="{{data.system.dodge.value}}" data-dtype="Number"/>
                <input name="system.dodge.modifier" class="status-mod" type="number" value="{{data.system.dodge.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball">
                    <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.resistances.dodge'}}" data-attribute="{{data.system.dodge.value}}" data-attribute-modifier="{{data.system.dodge.modifier}}" title="{{localize 'roe.general.roll'}}">
                        <i class="fas fa-dice"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center box-with-ball">
            <p class="font-bold uppercase text-xs">{{localize 'roe.resistances.will'}}</p>
            <div class="flex">
                <input name="system.will.value" class="status" type="number" value="{{data.system.will.value}}" data-dtype="Number"/>
                <input name="system.will.modifier" class="status-mod" type="number" value="{{data.system.will.modifier}}" data-dtype="Number"/>
            </div>
            <div class="w-0 h-5">
                <div class="rounded-full border border-black w-8 h-8 attribute-ball">
                    <a class="roll" data-roll-type="attribute" data-name="{{localize 'roe.resistances.will'}}" data-attribute="{{data.system.will.value}}" data-attribute-modifier="{{data.system.will.modifier}}" title="{{localize 'roe.general.roll'}}">
                        <i class="fas fa-dice"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {{!-- resources --}}

    <h3 class="mb-2 mt-2">{{localize 'roe.general.resources'}}</h3>

    <div class="grid grid-cols-3 gap-4">

        <div class="flex flex-col border border-black rounded-lg p-1 items-center">
            <p class="font-bold">{{localize 'roe.general.healthPoints'}}</p>

            <div class="flex">
                <input name="system.healthPoints.max" class="status big-status" type="number" value="{{data.system.healthPoints.max}}" data-dtype="Number"/>
                <input name="system.healthPoints.mod" class="status-mod" type="number" value="{{data.system.healthPoints.mod}}" data-dtype="Number"/>
            </div>

            <div class="flex flex-row">
                <div class="border-t border-black w-5 mt-2 gray-status"></div>
                <label class="mx-1 gray-status" for="system.healthPoints.value">Atual</label>
                <div class="border-t border-black w-5 mt-2 gray-status"></div>
            </div>
            <input name="system.healthPoints.value" class="status big-status-without-mod gray-status" type="number" value="{{data.system.healthPoints.value}}" data-dtype="Number"/>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center">
            <p class="font-bold">{{localize 'roe.general.etherPoints'}}</p>

            <div class="flex">
                <input name="system.etherPoints.max" class="status big-status" type="number" value="{{data.system.etherPoints.max}}" data-dtype="Number"/>
                <input name="system.etherPoints.mod" class="status-mod" type="number" value="{{data.system.etherPoints.mod}}" data-dtype="Number"/>
            </div>

            <div class="flex flex-row">
                <div class="border-t border-black w-5 mt-2 gray-status"></div>
                <label class="mx-1 gray-status" for="system.etherPoints.value">Atual</label>
                <div class="border-t border-black w-5 mt-2 gray-status"></div>
            </div>
            <input name="system.etherPoints.value" class="status big-status-without-mod gray-status" type="number" value="{{data.system.etherPoints.value}}" data-dtype="Number"/>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center">
            <p class="font-bold">{{localize 'roe.general.narrativePoints'}}</p>

            <div class="flex">
                <input name="system.narrativePoints.max" class="status big-status" type="number" value="{{data.system.narrativePoints.max}}" data-dtype="Number"/>
                <input name="system.narrativePoints.mod" class="status-mod" type="number" value="{{data.system.narrativePoints.mod}}" data-dtype="Number"/>
            </div>

            <div class="flex flex-row">
                <div class="border-t border-black w-5 mt-2 gray-status"></div>
                <label class="mx-1 gray-status" for="system.narrativePoints.value">Atual</label>
                <div class="border-t border-black w-5 mt-2 gray-status"></div>
            </div>
            <input name="system.narrativePoints.value" class="status big-status-without-mod gray-status" type="number" value="{{data.system.narrativePoints.value}}" data-dtype="Number"/>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center">
            <p class="font-bold">{{localize 'roe.general.armor'}}</p>

            <div class="flex flex-row">
                <div class="border-t border-black w-2 mt-2 gray-status"></div>
                <label class="mx-1 text-xs gray-status" for="system.physicalDamageResistance.value">{{localize 'roe.general.damageResistance'}}</label>
                <div class="border-t border-black w-2 mt-2 gray-status"></div>
            </div>

            <div class="flex">
                <input name="system.physicalDamageResistance" class="status big-status-without-mod" type="number" value="{{data.system.physicalDamageResistance}}" data-dtype="Number"/> |
                <input name="system.magicalDamageResistance" class="status big-status-without-mod" type="number" value="{{data.system.magicalDamageResistance}}" data-dtype="Number"/>
            </div>

            <div class="flex flex-row">
                <div class="border-t border-black w-2 mt-2 gray-status"></div>
                <label class="mx-1 text-xs gray-status" for="system.armorDurability">{{localize 'roe.equipment.durability'}}</label>
                <div class="border-t border-black w-2 mt-2 gray-status"></div>
            </div>

            <div class="flex">
                <input name="system.armorDurability" class="status big-status-without-mod gray-status" type="number" value="{{data.system.armorDurability}}" data-dtype="Number"/> |
                <input name="system.armorDurabilityMax" class="status big-status-without-mod gray-status" type="number" value="{{data.system.armorDurabilityMax}}" data-dtype="Number"/>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center">
            <p class="font-bold">{{localize 'roe.general.shield'}}</p>

            <div class="flex flex-row">
                <div class="border-t border-black w-2 mt-2 gray-status"></div>
                <label class="mx-1 text-xs gray-status" for="system.shieldDefenseBonus">{{localize 'roe.general.defenseBonus'}}</label>
                <div class="border-t border-black w-2 mt-2 gray-status"></div>
            </div>

            <input name="system.shieldDefenseBonus" class="status big-status-without-mod" type="number" value="{{data.system.shieldDefenseBonus}}" data-dtype="Number"/>

            <div class="flex flex-row">
                <div class="border-t border-black w-2 mt-2 gray-status"></div>
                <label class="mx-1 text-xs gray-status" for="system.shieldDurabilityMax">{{localize 'roe.equipment.durability'}}</label>
                <div class="border-t border-black w-2 mt-2 gray-status"></div>
            </div>

            <div class="flex">
                <input name="system.shieldDurability" class="status big-status-without-mod gray-status" type="number" value="{{data.system.shieldDurability}}" data-dtype="Number"/> |
                <input name="system.shieldDurabilityMax" class="status big-status-without-mod gray-status" type="number" value="{{data.system.shieldDurabilityMax}}" data-dtype="Number"/>
            </div>
        </div>

        <div class="flex flex-col border border-black rounded-lg p-1 items-center">
            <p class="font-bold">{{localize 'roe.general.magicPower'}}</p>

            <div class="flex align-middle">
                <input name="system.magicPower.value" class="status big-status" type="number" value="{{data.system.magicPower.value}}" data-dtype="Number"/>
                <input name="system.magicPower.mod" class="status-mod" type="number" value="{{data.system.magicPower.mod}}" data-dtype="Number"/>
            </div>

            <div class="flex flex-row">
                <div class="border-t border-black w-5 mt-2 gray-status"></div>
                <label class="mx-1 gray-status" for="system.magicPower.focus">Foco</label>
                <div class="border-t border-black w-5 mt-2 gray-status"></div>
            </div>
            <input name="system.magicPower.focus" class="status big-status-without-mod gray-status" type="number" value="{{data.system.magicPower.focus}}" data-dtype="Number"/>
        </div>        
    </div>
</section>