<section>
    <div class="flex justify-between">
        <h3 class="mb-2">{{localize 'roe.general.equipments'}}</h3>
        <a class="item-create" data-type="equipment" title="{{localize 'roe.general.add'}} {{localize 'roe.general.equipments'}}">
            <i class="fas fa-square-plus"></i>
        </a>
    </div>

    {{#if (eq data.type "protagonist")}}
        <p class="text-xs text-slate-500 mb-2">Limite de Espaços {{ data.system.maxSlots }} | Sobrecarga {{data.system.overweight}}</p>
    {{/if}}

    {{!-- <div class="grid grid-cols-5 gap-2">
        {{#each equipments as |equipment|}}
            <div class="item flex flex-col justify-center" data-id="{{equipment._id}}">
                <div class="flex h-8 items-center justify-center">
                    <p class="text-center text-xs">{{equipment.name}}</p>
                </div>
                
                <a class="item-roll" data-type="equipment" data-name="{{equipment.name}}">
                    <img src="{{equipment.img}}" alt="{{equipment.name}}" title="{{equipment.name}}"/>
                </a>
                <div class="items-center flex" title="{{localize 'roe.equipment.quantity'}}">
                    <i class="fa-solid fa-box-open"></i>
                    <input class="item-edit-inline" data-field="system.quantity" type="number" value="{{equipment.system.quantity}}" data-dtype="Number"/>
                </div>
            </div>
        {{/each}}
    </div> --}}

    {{!--Backup Exibição InLine --}}

    <p class="text-sm text-stone-500">{{localize "roe.equipment.label"}}, {{localize "roe.equipment.quantity"}}, {{localize "roe.equipment.equipped"}}</p>

    {{#each equipments as |equipment|}}
        <div class="item flex" data-id="{{equipment._id}}">
            <input class="item-edit-inline" data-field="name" type="text" value="{{equipment.name}}" data-dtype="String"/>

            <input class="item-edit-inline" data-field="system.quantity" type="number" value="{{equipment.system.quantity}}" data-dtype="Number"/>

            <input class="item-edit-inline" data-field="system.equipped" type="checkbox" value="{{equipment.system.equipped}}" {{checked equipment.system.equipped}}/>

            <a class="item-roll" data-type="equipment" data-name="{{equipment.name}}">
                <i class="fas fa-dice"></i>
            </a>

            {{!-- <a class="item-edit-popup" title="{{localize 'roe.general.edit'}}">
                <i class="fas fa-edit"></i>
            </a>

            <a class="item-delete" title="{{localize 'roe.general.delete'}}">
                <i class="fas fa-trash"></i>
            </a> --}}
        </div>
        <div class="flex mt-1 mb-2">
            {{!-- {{#if equipment.system.slots}}
                <p class="bg-stone-400 mr-1 px-1">{{equipment.system.slots}}</p>
            {{/if}}

            {{#if equipment.system.geo}}
                <p class="bg-stone-400 mr-1 px-1">G$ {{equipment.system.geo}}</p>
            {{/if}}      --}}
            
            {{#if equipment.system.traits}}
                {{#each equipment.system.traits as |equipmentTrait|}}
                    <div class="bg-stone-400 border border-stone-700 flex mr-1 mb-1 p-1">
                        <p class="text-xs" data-tooltip="{{equipmentTrait.description}}" data-tooltip-direction="UP">{{equipmentTrait.label}}</p>
                    </div>
                {{/each}}
            {{/if}}                 
        </div>
    {{/each}}
</section>