<section>
    <div class="flex justify-between">
        <h3 class="mb-2">{{localize 'roe.general.equipments'}}</h3>
        <a class="item-create" data-type="equipment" title="{{localize 'roe.general.add'}} {{localize 'roe.general.equipments'}}">
            <i class="fas fa-square-plus"></i>
        </a>
    </div>

    {{#if (eq data.type "protagonist")}}
        <p class="text-xs text-slate-500 mb-2">Limite de Espaços {{ data.system.maxSlots }} | Sobrecarga {{data.system.overweight}}</p>
    {{/if}}

    {{#each equipments as |equipment|}}
        <div class="item flex border-solid border-b border-black" data-id="{{equipment._id}}">
            <i class="fa-solid fa-caret-right p-[5px]" style="color: #000000;"></i>
            
            <input class="item-edit-inline !border-none !bg-transparent !text-left !shadow-none" data-field="name" type="text" value="{{equipment.name}}" data-dtype="String"/>

            <input class="item-edit-inline !border-none !bg-transparent !text-right !shadow-none !w-10" data-field="system.quantity" type="number" value="{{equipment.system.quantity}}" data-dtype="Number"/>
            <i class="fa-solid fa-bag-shopping"  title="{{localize 'roe.equipment.quantity'}}"></i>

            <input class="item-edit-inline !border-none !bg-transparent !text-right !shadow-none !w-10" data-field="system.slots" type="number" value="{{equipment.system.slots}}" data-dtype="Number"/>
            <i class="fa-solid fa-weight-hanging"  title="{{localize 'roe.equipment.slots'}}"></i>

            <input class="item-edit-inline !border-none !bg-transparent !shadow-none" data-field="system.equipped" type="checkbox" value="{{equipment.system.equipped}}" {{checked equipment.system.equipped}}/>

            <a class="item-roll" data-type="equipment" data-name="{{equipment.name}}">
                <i class="fas fa-dice"></i>
            </a>
        </div>

        <div class="flex mt-1 mb-2">
            {{#if equipment.system.traits}}
                {{#each equipment.system.traits as |equipmentTrait|}}
                    <p class="text-xs gray-status"
                       data-tooltip="{{equipmentTrait.description}}"
                       data-tooltip-direction="UP">{{equipmentTrait.label}}{{#unless @last}},&nbsp{{/unless}}</p>
                {{/each}}
            {{/if}}
        </div>
    {{/each}}
</section>