<section>
    <div class="flex justify-between">
        <h3 class="mb-2">{{localize 'roe.general.spells'}}</h3>
        <a class="item-create" data-type="spell" title="{{localize 'roe.general.add'}} {{localize 'roe.general.spells'}}">
            <i class="fas fa-square-plus"></i>
        </a>
    </div>

    <p class="text-sm text-stone-500">{{localize "roe.spell.label"}}, {{localize "roe.spell.hit"}}, {{localize "roe.spell.cost"}}</p>
    
    {{#each spells as |spell|}}
        <div class="item flex" data-id="{{spell._id}}">
            <input class="item-edit-inline" data-field="name" type="text" value="{{spell.name}}" data-dtype="String"/>
  
            <input class="item-edit-inline" data-field="system.hit" type="number" value="{{system.hit}}" data-dtype="Number"/>

            <input class="item-edit-inline" data-field="system.cost" type="number" value="{{system.cost}}" data-dtype="Number"/>

            <select class="item-edit-inline" data-field="system.rollModifier">
                <option></option>
                {{selectOptions system.rollModifierList selected=system.rollModifier localize=true}}
            </select>

            <a class="item-roll" data-type="spell" data-name="{{spell.name}}" data-roll-modifier="{{system.rollModifier}}">
                <i class="fas fa-dice"></i>
            </a>
        </div>

        <div class="flex mt-1 mb-2">
            {{#if spell.system.enchants}}
                {{#each spell.system.enchants as |spellEnchant|}}
                    <div class="bg-stone-400 border border-stone-700 flex mr-1 mb-1 p-1">
                        <p class="text-xs" data-tooltip="{{spellEnchant.description}}" data-tooltip-direction="UP">{{spellEnchant.label}}</p>
                    </div>
                {{/each}}
            {{/if}}

            {{#if spell.system.traits}}
                {{#each spell.system.traits as |spellTrait|}}
                    <div class="bg-stone-400 border border-stone-700 flex mr-1 mb-1 p-1">
                        <p class="text-xs" data-tooltip="{{spellTrait.description}}" data-tooltip-direction="UP">{{spellTrait.label}}</p>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    {{/each}}
</section>