<section>
    <div class="flex justify-between">
        <h3 class="mb-2">{{localize 'roe.general.spells'}}</h3>
        <a class="item-create" data-type="spell" title="{{localize 'roe.general.add'}} {{localize 'roe.general.spells'}}">
            <i class="fas fa-square-plus"></i>
        </a>
    </div>

    {{#each spells as |spell|}}
        <div class="item flex border-solid border-b border-black" data-id="{{spell._id}}">
            <i class="fa-solid fa-caret-right p-[5px]" style="color: #000000;"></i>
            <input class="item-edit-inline !border-none !bg-transparent !text-left !shadow-none" data-field="name" type="text" value="{{spell.name}}" data-dtype="String"/>
  
            <input class="item-edit-inline !border-none !bg-transparent !text-right !shadow-none !w-12" data-field="system.hit" type="number" value="{{system.hit}}" data-dtype="Number"/>
            <i class="fa-solid fa-bullseye" data-tooltip="{{localize "roe.spell.hit"}}" data-tooltip-direction="UP"></i>

            <input class="item-edit-inline !border-none !bg-transparent !text-right !shadow-none !w-12" data-field="system.cost" type="number" value="{{system.cost}}" data-dtype="Number"/>
            <i class="fa-solid fa-droplet" data-tooltip="{{localize "roe.spell.cost"}}" data-tooltip-direction="UP"></i>

            <select class="item-edit-inline !border-none !bg-transparent !shadow-none" data-field="system.rollModifier">
                <option></option>
                {{selectOptions system.rollModifierList selected=system.rollModifier localize=true}}
            </select>

            <a class="item-roll" data-type="spell" data-name="{{spell.name}}" data-roll-modifier="{{system.rollModifier}}">
                <i class="fas fa-dice"></i>
            </a>
        </div>

        <div class="flex flex-row mt-1 mb-2">
            {{#if spell.system.enchants}}
                <div class="flex flex-row mr-5">
                    {{#each spell.system.enchants as |spellEnchant|}}
                    <p class="text-xs gray-status"
                       data-tooltip="{{spellEnchant.description}}"
                       data-tooltip-direction="UP">{{spellEnchant.label}}{{#unless @last}},&nbsp{{/unless}}</p>
                    {{/each}}
                </div>
            {{/if}}

            {{#if spell.system.traits}}
                <div class="flex flex-row">
                    {{#each spell.system.traits as |spellTrait|}}
                    <p class="text-xs gray-status"
                       data-tooltip="{{spellTrait.description}}"
                       data-tooltip-direction="UP">{{spellTrait.label}}{{#unless @last}},&nbsp{{/unless}}</p>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    {{/each}}
</section>