<section>
    <div class="flex">
        <img class="mr-4" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <div class="flex flex-col">
            <div class="flex mb-2">
                <label for="system.level">{{localize "roe.general.level"}}</label>
                <input name="system.level" type="number" value="{{data.system.level}}" data-dtype="Number"/>
            </div>
            <div class="flex">
                <label for="name">{{localize "roe.general.name"}}</label>
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'roe.general.protagonist'}}" data-dtype="String"/>
            </div>
        </div>
    </div>

    <div class="flex mb-2 mt-4">
        <p class="w-32">{{localize 'roe.general.threat'}}</p>
        <select name="system.threat">
            {{#select data.system.threat}}
                {{#each config.threat as |name threat|}}
                    <option value="{{threat}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="flex mb-2">
        <p class="w-32">{{localize 'roe.general.power'}}</p>
        <input name="system.power" type="number" value="{{data.system.power}}" data-dtype="Number"/>
    </div>

    <div class="flex mb-2">
        <p class="w-32">{{localize 'roe.general.afinity'}}</p>
        <select name="system.afinity">
            {{#select data.system.afinity}}
                {{#each config.essences as |name essence|}}
                    <option value="{{essence}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="flex mb-2">
        <p class="w-32">{{localize 'roe.general.ascendant'}}</p>
        <select name="system.ascendant">
            {{#select data.system.ascendant}}
                {{#each config.essences as |name essence|}}
                    <option value="{{essence}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="flex mb-2">
        <p class="w-32">{{localize 'roe.general.species'}}</p>
        <select class="species" name="system.species">
            {{#select data.system.species}}
                {{#each config.species as |name species|}}
                    <option value="{{species}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

        <div class="flex mb-2">
        <p class="w-32">{{localize 'roe.general.size'}}</p>
        <select name="system.size">
            {{#select data.system.size}}
                {{#each config.sizeAntagonist as |name size|}}
                    <option value="{{size}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="flex mb-2">
        <p class="w-32">{{localize 'roe.general.speed'}}</p>
        <select name="system.speed">
            {{#select data.system.speed}}
                {{#each config.speed as |name speed|}}
                    <option value="{{speed}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>

    <div class="flex">
        <h3 class="mb-2">{{localize 'roe.general.traits'}}</h3>
        <a class="item-create" data-type="trait" title="{{localize 'roe.general.add'}}">
            <i class="fas fa-plus"></i>
        </a>
    </div>

    {{#if (ne data.system.species "none")}}
        <p class="text-xs text-slate-500 mb-2">Escolha {{ data.system.traitsInitial }} traços e receba +1 traço para cada 5 níveis</p>
    {{/if}}

    {{#each traits as |trait|}}
        <div class="item flex" data-id="{{trait._id}}">
            <input class="item-edit-inline" data-field="name" type="text" value="{{trait.name}}" data-dtype="String"/>

            <a class="item-edit-popup" title="{{localize 'roe.general.edit'}}">
                <i class="fas fa-edit"></i>
            </a>

            <a class="item-delete" title="{{localize 'roe.general.delete'}}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
        <div class="flex mt-1 mb-2">
            {{#if trait.system.note}}
                <p class="bg-stone-400 mr-1 px-1">{{trait.system.note}}</p>
            {{/if}}
        </div>
    {{/each}}
</section>