<div class="flex flex-col">
    <p class="font-bold text-base">{{name}}</p>

    <p>
        <span class="font-bold">{{localize "roe.ability.action"}}:</span> {{system.action}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.ability.activation"}}:</span> {{system.activation}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.ability.cost"}}:</span> {{system.cost}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.ability.duration"}}:</span>{{system.duration}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.ability.range"}}:</span>{{system.range}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.ability.target"}}:</span>{{system.target}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.ability.traits"}}:</span>{{system.traits}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.ability.description"}}:</span>{{system.description}}
    </p>
</div>
