<div class="flex flex-col">
    <p>
        <span class="font-bold">{{localize "roe.action.hit"}}:</span> [[2d6 + {{hit}}]]
    </p>

    <p>
        <span class="font-bold">{{localize "roe.action.damage"}}:</span> {{damage}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.action.damageCritical"}}:</span> {{damageCritical}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.action.traits"}}:</span> {{traits}}
    </p>
</div>
