<div class="flex flex-col">
    <p>
        <span class="font-bold">{{localize "roe.action.hit"}}:</span> [[2d6 + {{hit}}]]
    </p>

    {{#if damage}}
        <p>
            <span class="font-bold">{{localize "roe.action.damage"}}:</span> {{damage}}
        </p>
    {{/if}}

    {{#if damageCritical}}
        <p>
            <span class="font-bold">{{localize "roe.action.damageCritical"}}:</span> {{damageCritical}}
        </p>
    {{/if}}

    {{#if traits}}
        <p>
            <span class="font-bold">{{localize "roe.action.traits"}}:</span> {{traits}}
        </p>
    {{/if}}
</div>
