<div class="flex flex-col">
    <p class="font-bold text-base">{{name}}</p>

    <div class="flex flex-wrap my-1">
        {{#each system.traits as |trait|}}
            <div class="bg-stone-400 border border-stone-700 flex mr-1 mb-1 p-1">
                <p class="text-xs" data-tooltip="{{trait.description}}" data-tooltip-direction="UP">{{trait.label}}</p>
            </div>
        {{/each}}
    </div>

    {{#if (eq system.equipmentType "armor")}}
        <p>
            <span class="font-bold">{{localize "roe.equipment.equipmentType"}}:</span> {{localize "roe.general.armor"}}
        </p>

        <p>
            <span class="font-bold">{{localize "roe.equipment.damageResistance"}}:</span> {{system.damageResistance}}
        </p>
        
        <p>
            <span class="font-bold">{{localize "roe.equipment.minimumBody"}}:</span> {{system.minimumBody}}
        </p>

        <p>
            <span class="font-bold">{{localize "roe.equipment.runes"}}:</span> {{system.runes}}
        </p>
    {{/if}}

    {{#if (eq system.equipmentType "consumable")}}
        <p>
            <span class="font-bold">{{localize "roe.equipment.equipmentType"}}:</span> {{localize "roe.general.consumable"}}
        </p>
    {{/if}}

    {{#if (eq system.equipmentType "shield")}}
        <p>
            <span class="font-bold">{{localize "roe.equipment.equipmentType"}}:</span> {{localize "roe.general.shield"}}
        </p>

        <p>
            <span class="font-bold">{{localize "roe.equipment.defenseBonus"}}:</span> {{system.defenseBonus}}
        </p>

        <p>
            <span class="font-bold">{{localize "roe.equipment.durability"}}:</span> {{system.durability}}
        </p>

        <p>
            <span class="font-bold">{{localize "roe.equipment.minimumBody"}}:</span> {{system.minimumBody}}
        </p>

        <p>
            <span class="font-bold">{{localize "roe.equipment.runes"}}:</span> {{system.runes}}
        </p>
    {{/if}}

    {{#if (eq system.equipmentType "weapon")}}
        <p>
            <span class="font-bold">{{localize "roe.equipment.equipmentType"}}:</span> {{localize "roe.general.weapon"}}
        </p>

        <p>
            <span class="font-bold">{{localize "roe.equipment.weaponType"}}:</span> {{localize (concat "roe.weaponTypes." i system.weaponType)}}
        </p>

        <p>
            <span class="font-bold">{{localize "roe.equipment.damage"}}:</span> {{system.damage}}
        </p>

        <p>
            <span class="font-bold">{{localize "roe.equipment.minimumBody"}}:</span> {{system.minimumBody}}
        </p>

        <p>
            <span class="font-bold">{{localize "roe.equipment.runes"}}:</span> {{system.runes}}
        </p>
    {{/if}}

    {{#if system.slots}}
        <p>
            <span class="font-bold">{{localize "roe.equipment.slots"}}:</span> {{system.slots}}
        </p>
    {{/if}}

    {{#if system.geo}}
        <p>
            <span class="font-bold">{{localize "roe.equipment.geo"}}:</span> {{system.geo}}
        </p>
    {{/if}}

    {{#if system.description}}
        <p>
            <span class="font-bold">{{localize "roe.equipment.description"}}:</span>{{safe system.description}}
        </p>
    {{/if}}
</div>
