<div class="flex flex-col">
    <div class="grid grid-cols-3 gap-2 mb-2">
        <div>
            <img src="{{img}}" alt="{{name}}"/>
        </div>

        <div class="col-span-2 flex flex-col justify-center">
            <p>{{safe system.description}}</p>
        </div>
    </div>

    {{#if (eq rollModifier "advantage")}}
        <p class="mb-2">
            <span class="font-bold">{{localize "roe.general.result"}}:</span>
            {{#if (eq actorType "protagonist")}} [[ 3d6kh2 + {{system.hit}} ]] contra DIF {{difficulty}} {{/if}}
            {{#if (eq actorType "antagonist")}} [[ 3d6kh2 + {{system.hit}} + {{power}} ]] contra DIF {{difficulty}} {{/if}} 
        </p>
    {{/if}}

    {{#if (eq rollModifier "disadvantage")}}
        <p class="mb-2">
            <span class="font-bold">{{localize "roe.general.result"}}:</span>
            {{#if (eq actorType "protagonist")}} [[ 3d6kl2 + {{system.hit}} ]] contra DIF {{difficulty}} {{/if}}
            {{#if (eq actorType "antagonist")}} [[ 3d6kl2 + {{system.hit}} + {{power}} ]] contra DIF {{difficulty}} {{/if}}       
        </p>
    {{/if}}

    {{#if (eq rollModifier "")}}
        <p class="mb-2"> 
            <span class="font-bold">{{localize "roe.general.result"}}:</span>
            {{#if (eq actorType "protagonist")}} [[ 2d6 + {{system.hit}} ]] contra DIF {{difficulty}} {{/if}}
            {{#if (eq actorType "antagonist")}} [[ 2d6 + {{system.hit}} + {{power}} ]] contra DIF {{difficulty}} {{/if}}   
        </p>
    {{/if}}

    {{#if narrativePoints}}
        <p class="mb-2">
            <span class="font-bold">{{localize "roe.general.narrativePoints"}}:</span>
            [[/r 1d6 ]]{Rolar}
        </p>
    {{/if}}

    {{#if system.action}}
        <p class="mb-2">
            <span class="font-bold">{{localize "roe.spell.action"}}:</span> {{system.action}}   
        </p>
    {{/if}}

    {{#if system.spellEffects.action}}
        <div class="border-solid border-l-4 border-red-500">
            <p class="mt-1 ml-2">
                <span class="font-bold">{{localize "roe.spellEffects.action"}}:</span>
                <div class="ml-2">
                    {{safe system.spellEffects.action}}
                </div>
            </p>
        </div>
    {{/if}}

    {{#if system.spellEffects.exploration}}
        <div class="mt-2 border-solid border-l-4 border-yellow-500">
            <p class="mt-1 ml-2">
                <span class="font-bold">{{localize "roe.spellEffects.exploration"}}:</span>
                <div class="ml-2">
                    {{safe system.spellEffects.exploration}}
                </div>
            </p>
        </div>
    {{/if}}

    {{#if system.spellEffects.downtime}}
        <div class="mt-2 border-solid border-l-4 border-green-500">
            <p class="mt-1 ml-2">
                <span class="font-bold">{{localize "roe.spellEffects.downtime"}}:</span>
                <div class="ml-2">
                    {{safe system.spellEffects.downtime}}
                </div>
            </p>
        </div>
    {{/if}}

    {{#if system.enchants}}
        <div class="flex items-center">
            <p class="font-bold mr-2">{{localize "roe.spell.enchants"}}</p>

            <div class="flex flex-wrap my-1">
                {{#each system.enchants as |enchant|}}
                    <div class="bg-stone-400 border border-stone-700 flex mr-1 mb-1 p-1">
                        <p class="text-xs" data-tooltip="{{enchant.description}}" data-tooltip-direction="UP">{{enchant.label}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

    {{#if system.traits}}
        <div class="flex items-center">
            <p class="font-bold mr-2">{{localize "roe.spell.traits"}}</p>
            
            <div class="flex flex-wrap my-1">
                {{#each system.traits as |trait|}}
                    <div class="bg-stone-400 border border-stone-700 flex mr-1 mb-1 p-1">
                        <p class="text-xs" data-tooltip="{{trait.description}}" data-tooltip-direction="UP">{{trait.label}}</p>
                    </div>
                {{/each}}
            </div>
        </div>

    {{/if}}
</div>
