<div class="flex flex-col">
    <p class="font-bold text-base mt-1">{{name}}</p>

    {{#if system.enchants}}
        <p>{{localize "roe.spell.enchants"}}</p>

        <div class="flex flex-wrap my-1">
            {{#each system.enchants as |enchant|}}
                <div class="bg-stone-400 border border-stone-700 flex mr-1 mb-1 p-1">
                    <p class="text-xs" data-tooltip="{{enchant.description}}" data-tooltip-direction="UP">{{enchant.label}}</p>
                </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if system.traits}}
        <p>{{localize "roe.spell.traits"}}</p>
        
        <div class="flex flex-wrap my-1">
            {{#each system.traits as |trait|}}
                <div class="bg-stone-400 border border-stone-700 flex mr-1 mb-1 p-1">
                    <p class="text-xs" data-tooltip="{{trait.description}}" data-tooltip-direction="UP">{{trait.label}}</p>
                </div>
            {{/each}}
        </div>
    {{/if}}

    <p class="mb-1 mt-1">
        {{safe system.description}}
    </p>

    {{#if (eq rollModifier "advantage")}}
        <p class="mb-2">
            <span class="font-bold">{{localize "roe.spell.hit"}}:</span> 
            [[3d6kh2 + {{system.hit}}]] contra DIF {{difficulty}}
        </p>
    {{/if}}

    {{#if (eq rollModifier "disadvantage")}}
        <p class="mb-2">
            <span class="font-bold">{{localize "roe.spell.hit"}}:</span> 
            [[3d6kl2 + {{system.hit}}]] contra DIF {{difficulty}}
        </p>
    {{/if}}

    {{#if (eq rollModifier "")}}
        <p class="mb-2">
            <span class="font-bold">{{localize "roe.spell.hit"}}:</span> 
            [[2d6 + {{system.hit}}]] contra DIF {{difficulty}}
        </p>
    {{/if}}

    {{#if system.spellEffects.action}}
        <div class="border-solid border-l-4 border-red-500">
            <p class="mt-1 ml-2">
                <span class="font-bold">{{localize "roe.spellEffects.action"}}:</span>
                <div class="ml-2">
                    {{safe system.spellEffects.action}}
                </div>
            </p>
        </div>
    {{/if}}

    {{#if system.spellEffects.exploration}}
        <div class="mt-2 border-solid border-l-4 border-yellow-500">
            <p class="mt-1 ml-2">
                <span class="font-bold">{{localize "roe.spellEffects.exploration"}}:</span>
                <div class="ml-2">
                    {{safe system.spellEffects.exploration}}
                </div>
            </p>
        </div>
    {{/if}}

    {{#if system.spellEffects.downtime}}
        <div class="mt-2 border-solid border-l-4 border-green-500">
            <p class="mt-1 ml-2">
                <span class="font-bold">{{localize "roe.spellEffects.downtime"}}:</span>
                <div class="ml-2">
                    {{safe system.spellEffects.downtime}}
                </div>
            </p>
        </div>
    {{/if}}
</div>
