<div class="flex flex-col">
    <p class="font-bold text-base">{{name}}</p>

    <p class="mb-2">{{system.enchants}}</p>

    <p>
        <span class="font-bold">{{localize "roe.spell.action"}}:</span> {{system.action}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.spell.cost"}}:</span> {{system.cost}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.spell.duration"}}:</span>{{system.duration}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.spell.range"}}:</span>{{system.range}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.spell.target"}}:</span>{{system.target}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.spell.traits"}}:</span>{{system.traits}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.spell.description"}}:</span>{{system.description}}
    </p>
</div>
