<div class="flex flex-col">
    <p class="font-bold text-base mt-1">{{name}}</p>

    {{#if system.enchants}}
        <p>
            <span class="font-bold">{{localize "roe.spell.enchants"}}:</span> {{system.enchants}}
        </p>
    {{/if}}

    {{#if system.traits}}
        <p>
            <span class="font-bold">{{localize "roe.spell.traits"}}:</span> {{system.traits}}
        </p>
    {{/if}}

    {{!-- <p class="mt-2">
        <span class="font-bold">{{localize "roe.spell.action"}}:</span> {{system.action}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.spell.cost"}}:</span> {{system.cost}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.spell.duration"}}:</span> {{system.duration}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.spell.range"}}:</span> {{system.range}}
    </p>

    <p>
        <span class="font-bold">{{localize "roe.spell.target"}}:</span> {{system.target}}
    </p> --}}

    <p class="mb-1 mt-1">
        {{safe system.description}}
    </p>

    {{#if (eq rollModifier "advantage")}}
        <p class="mb-2">
            <span class="font-bold">{{localize "roe.spell.hit"}}:</span> 
            [[3d6kh2 + {{system.hit}}]] contra DIF {{difficulty}}
        </p>
    {{/if}}

    {{#if (eq rollModifier "disadvantage")}}
        <p class="mb-2">
            <span class="font-bold">{{localize "roe.spell.hit"}}:</span> 
            [[3d6kl2 + {{system.hit}}]] contra DIF {{difficulty}}
        </p>
    {{/if}}

    {{#if (eq rollModifier "")}}
        <p class="mb-2">
            <span class="font-bold">{{localize "roe.spell.hit"}}:</span> 
            [[2d6 + {{system.hit}}]] contra DIF {{difficulty}}
        </p>
    {{/if}}

    {{#if system.spellEffects.action}}
        <div class="border-solid border-l-4 border-red-500">
            <p class="mt-1 ml-2">
                <span class="font-bold">{{localize "roe.spellEffects.action"}}:</span>
                <div class="ml-2">
                    {{safe system.spellEffects.action}}
                </div>
            </p>
        </div>
    {{/if}}

    {{#if system.spellEffects.exploration}}
        <div class="mt-2 border-solid border-l-4 border-yellow-500">
            <p class="mt-1 ml-2">
                <span class="font-bold">{{localize "roe.spellEffects.exploration"}}:</span>
                <div class="ml-2">
                    {{safe system.spellEffects.exploration}}
                </div>
            </p>
        </div>
    {{/if}}

    {{#if system.spellEffects.downtime}}
        <div class="mt-2 border-solid border-l-4 border-green-500">
            <p class="mt-1 ml-2">
                <span class="font-bold">{{localize "roe.spellEffects.downtime"}}:</span>
                <div class="ml-2">
                    {{safe system.spellEffects.downtime}}
                </div>
            </p>
        </div>
    {{/if}}
</div>
